a svg {
    fill: white;
    border-radius: 50%;
    border: none;
    transition: 0.5s ease;
}

a svg:hover {
    cursor: pointer;
    background: var(--background) !important;
    box-shadow: 4px -4px 22px #f94409, -4px -4px 22px #48e5c2,
        -4px 4px 22px #03a9f1, 4px 4px 22px #f18303 !important;
    -webkit-box-shadow: 4px -4px 22px #f94409, -4px -4px 22px #48e5c2,
        -4px 4px 22px #03a9f1, 4px 4px 22px #f18303 !important;
}
