.diagram {
    min-width: 100%;
    min-height: 102%;
    max-width: 100%;
    max-height: 102%;
    margin-top: -100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

/* Array */

.array {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.array-index {
    font-size: 1.4rem;
}

.isometric-square {
    margin-bottom: -9%;
    margin-top: -9%;
}
