.diagram {
    min-width: 100%;
    min-height: 102%;
    max-width: 100%;
    max-height: 102%;
    margin-top: -100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

/* Array */

.array {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.array-index {
    font-size: 1.4rem;
}

.array-index {
    font-size: 1.4rem;
}

.array .isometric-square {
    margin-bottom: -9%;
    margin-top: -9%;
}
/* Linked List */

.linked-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.linked-list .isometric-square {
    margin: 2.5%;
}

.head-pointer {
    font-size: 1.6rem;
    margin-top: 15%;
    margin-bottom: -20%;
    margin-left: -55%;
}

.tail-pointer {
    font-size: 1.6rem;
    margin-top: -20%;
    margin-bottom: 15%;
    margin-right: -55%;
}

.gradient-dots {
    position: absolute;
    left: 49%;
    padding-top: 25%;
    margin-top: -31.75%;
}

/* Stack */
.stack {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stack .isometric-square {
    margin: 2.5%;
}

/* Graph */

.graph {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: row; */

}

/* Animations */

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes FadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes StackPointer {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes PopPointer {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Array Animations */

.array .array-item {
    animation: FadeIn 1s ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.array .array-item:nth-child(6) {
    animation-delay: .;
    -webkit-animation-delay: 0.5s;
}
.array .array-item:nth-child(5) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.array .array-item:nth-child(4) {
    animation-delay: 1;
    -webkit-animation-delay: 1.5s;
}
.array .array-item:nth-child(3) {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.array .array-item:nth-child(2) {
    animation-delay: 2;
    -webkit-animation-delay: 2.5s;
}
.array .array-item:nth-child(1) {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

/* Linked List Animations */

.linked-list .linked-list-item,
.head-pointer,
.tail-pointer {
    animation: FadeIn 1s ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.linked-list .linked-list-item:nth-child(3) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.linked-list .linked-list-item:nth-child(4),
.tail-pointer {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

/* Stack Animations */

.stack .stack-item:nth-child(3) {
    animation: FadeInOut 7s ease infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.push-pointer {
    animation: StackPointer 7s ease infinite reverse;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.pop-pointer {
    animation: PopPointer 7s ease infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 5.25s;
    -webkit-animation-delay: 5.25s;
}

.stack .stack-item:nth-child(1) {
    animation: FadeIn 1s ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.stack .stack-item:nth-child(4),
.tail-pointer {
    animation: FadeIn 1s ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*
.stack .stack-item:nth-child(2), .head-pointer {
    animation-delay: 2s;
    -webkit-animation-delay: 2s
} */

/* Graph Animations */

.fadeIn {
    opacity: 0;
    -webkit-animation: FadeIn 1s ease;
    animation: FadeIn 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fadeIn:nth-child(2n + 1) {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.fadeIn:nth-child(2n + 2) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.fadeIn:nth-child(2n + 3) {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.fadeIn:nth-child(2n + 4) {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.fadeIn:nth-child(2n + 5) {
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.graph .row .gradient-dots:nth-child(2n + 2) {
    margin-left: -0.2rem !important;
}

.graph .row .gradient-dots:nth-child(2n + 1) {
    transform: rotate(90deg);
    margin-top: -75%;

}
